<!DOCTYPE html>
<html>

<head>
    <title>staff_hearings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='common_style.css') }}">
</head>

<body>

    <div class="navbar">
        <strong>All Hearings</strong>
        <div class="nav-right">
            <a href="/staff/dashboard">Dashboard</a>
        </div>
    </div>

    <div class="sliding-title">
        <span>Legal Case Management System</span>
    </div>

    <div class="container">
        <table>
            <tr>
                <th>Case ID</th>
                <th>Lawyer ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>Judge</th>
                <th>Court Room</th>
                <th>Remarks</th>
            </tr>

            {% for h in hearings %}
            <tr>
                <td>{{ h.case_id_short }}</td>
                <td>{{ h.lawyer_id_short }}</td>
                <td>{{ h.hearing_date }}</td>
                <td>{{ h.hearing_time }}</td>
                <td>{{ h.judge_name }}</td>
                <td>{{ h.court_room }}</td>
                <td>{{ h.remarks }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>