<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>admin_users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='common_style.css') }}">

</head>

<body>

    <div class="navbar">
        <strong>All Users</strong>
        <div>
            <a href="/admin_dashboard">Dashboard</a>
        </div>
    </div>

    <div class="sliding-title">
        <span>Legal Case Management System</span>
    </div>

    <div class="search-container">
        <form action="/search_user" method="get">
            <input type="text" name="name" id="searchInput" placeholder="Search user by Name,Role">
            <button type="submit">Search</button>

            {% if error %}
            <span class="error-msg" id="errorMsg">{{ error }}</span>
            {% endif %}
        </form>
    </div>

    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>

        {% for user in users %}
        <tr>
            <td>
                {% if user.role == "lawyer" %}
                <a href="{{ url_for('cases.lawyer_profile', id=user._id) }}">{{ user.name }}</a>
                {% elif user.role == "admin" %}
                <a href="{{ url_for('admin.admin_profile', id=user._id) }}">{{ user.name }}</a>
                {% elif user.role == "client" %}
                <a href="{{ url_for('client.client_profile', id=user._id) }}">{{ user.name }}</a>
                {% elif user.role == "staff" %}
                <a href="{{ url_for('staff.staff_profile', id=user._id) }}">{{ user.name }}</a>
                {% else %}
                {{ user.name }}
                {% endif %}
            </td>

            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
                <a class="check-link" href="/admin/edit_user/{{ user._id }}">Edit</a>
                <a class="check-link" href="/delete_user/{{ user._id }}"
                    onclick="return confirm('Delete this user?')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
<script>
    const searchInput = document.getElementById("searchInput");
    const errorDiv = document.getElementById("errorMsg");

    if (searchInput) {
        searchInput.addEventListener("input", () => {
            if (errorDiv) {
                errorDiv.style.display = "none";
            }
        });
    }
</script>

</html>