<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='common_style.css') }}">

</head>

<body>
    <div class="navbar">
        <div>
            <strong>Edit User</strong>
        </div>
        <div class="nav-right">
            <a href="/admin/users">Back to Users</a>
        </div>
    </div>

     <div class="sliding-title">
        <span>Legal Case Management System</span>
    </div>

    <form method="post">
        Name:
        <input type="text" name="name" value="{{ user.name }}" required><br><br>

        Email:
        <input type="email" name="email" value="{{ user.email }}" required><br><br>

        Role:
        <select name="role" required>
            <option value="admin" {% if user.role=='admin' %}selected{% endif %}>Admin</option>
            <option value="lawyer" {% if user.role=='lawyer' %}selected{% endif %}>Lawyer</option>
            <option value="client" {% if user.role=='client' %}selected{% endif %}>Client</option>
            <option value="staff" {% if user.role=='staff' %}selected{% endif %}>Staff</option>

        </select><br><br>

        <button type="submit">Update User</button>
    </form>

</body>
</html>
